@main("Welcome to Play framework") {

    <table class="table">
        <thead>
            <th>Title</th>
            <th>Isbn</th>
            <th>Authors</th>
        </thead>
        <tbody>
            <tr data-bind="if: book()">
                <td data-bind="text: book().title"></td>
                <td data-bind="text: book().isbn"></td>
                <td data-bind="foreach: book().authors">
                    <div class="badge" data-bind="text: firstName + ' ' + lastName"></div>
                </td>
            </tr>
        </tbody>
    </table>

    <br/>
    <button class="btn retry_btn" data-bind="click: getBookJava">Java</button>
    <button class="btn retry_btn" data-bind="click: getBookScala">Scala</button>

    <br/>
    <br/>
    <br/>
    <div data-bind="html: error()">
    </div>
}
